@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

body {
  font-family: var(--font-inter);
}

@theme {
  --color-gold-100: #dbd4ad;
  --color-gold-200: #c6b97e;
  --color-gold-300: #b5a05a;
  --color-gold-400: #a68d4c;
  --color-gold-500: #8e7240;
  --color-white: #f5f5f5;
}

.arrow-icon-wrapper {
  position: relative;
}
.arrow-icon {
  z-index: 10;
}
.arrow-icon-ghost {
  z-index: 5;
}
